<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= Fastui::View.instance.project %></title>
  <link href="http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all.css" rel="stylesheet" />
  <script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
  <%= stylesheet_link_tag    "fastui/application", :media => "all" %>
  <%= javascript_include_tag "fastui/application" %>
  <script type='text/javascript'>
      var app_project = '<%= Fastui::View.instance.project %>';
      var app_version = '<%= Fastui::View.instance.version %>';
      var app_copyright = '<%= Fastui::View.instance.copyright %>';
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
